<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dashboard</span>
  </mat-toolbar-row>
  </mat-toolbar>
<div style="padding: 10px;">
  <h1>Starters</h1>
  <div class="example-container">
      <section *ngFor="let dish of StarterData; let i = index;">
    <mat-form-field >
      <mat-label>Name Of Dish</mat-label>
      <input matInput placeholder="Name of Dish" [(ngModel)]="dish.name">
    </mat-form-field>&nbsp;
    <mat-form-field >
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" [(ngModel)]="dish.price" name="dish_{{ i }}">
    </mat-form-field> &nbsp;
    <button mat-raised-button color="primary" (click)="addStarters()" *ngIf="i == StarterData.length - 1">Add</button> &nbsp;
    <button mat-raised-button color="accent" (click)="removeStarter(i)" *ngIf="i !== StarterData.length - 1">Remove</button>

  </section>
  <button mat-raised-button (click)="createDish()">Update</button>
</div>
</div>
<div style="padding: 10px;">
  <h1>Veg</h1>
  <div class="example-container">
      <section *ngFor="let dish of Veg; let i = index;">
    <mat-form-field >
      <mat-label>Name Of Dish</mat-label>
      <input matInput placeholder="Name of Dish" [(ngModel)]="dish.name">
    </mat-form-field>&nbsp;
    <mat-form-field >
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" [(ngModel)]="dish.price" name="dish_{{ i }}">
    </mat-form-field> &nbsp;
    <button mat-raised-button color="primary" (click)="addVeg()" *ngIf="i == Veg.length - 1">Add</button> &nbsp;
    <button mat-raised-button color="accent" (click)="removeVeg(i)" *ngIf="i !== Veg.length - 1">Remove</button>

  </section>
  <button mat-raised-button (click)="vegUpdate()">Update</button>
</div>
</div>
<div style="padding: 10px;">
  <h1>Non-Veg</h1>
  <div class="example-container">
      <section *ngFor="let dish of nonveg; let i = index;">
    <mat-form-field >
      <mat-label>Name Of Dish</mat-label>
      <input matInput placeholder="Name of Dish" [(ngModel)]="dish.name">
    </mat-form-field>&nbsp;
    <mat-form-field >
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" [(ngModel)]="dish.price" name="dish_{{ i }}">
    </mat-form-field> &nbsp;
    <button mat-raised-button color="primary" (click)="addNonveg()" *ngIf="i == nonveg.length - 1">Add</button> &nbsp;
    <button mat-raised-button color="accent" (click)="removenonVeg(i)" *ngIf="i !== nonveg.length - 1">Remove</button>

  </section>
  <button mat-raised-button (click)="nonvegUpdate()">Update</button>
</div>
</div>
<button mat-button (click)="nav()"> View Menu</button>
<button mat-button (click)="SignOut()"> Sign-out</button>
